body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.konvajs-content {
  border: solid 1px #d2d2d2;
  margin: 8px 0;
}

#AddPulleyButton {
  display: block;
}

#DataTable {
  margin-top: 32px;
  margin-left: 16px;
  height: 600px;
  overflow-y: auto;
}

#DataTable th,
#DataTable td {
  padding: 0 10px;
}

#DataTable tr.selected {
  background-color: red;
}

.isAddingPoint {
  cursor: crosshair;
}

.App__heading {
  font-size: 30px;
  font-weight: bold;
  color: #282c31;
  margin: 2px 16px 0;
  cursor: pointer;
}

.footer {
  background-color: #8998a8;
}

.navbar {
  background-color: #8998a8;
}

.App__content {
  display: flex;
}

input[type=number] {
  width: 100px;
}

.section {
  padding: 2rem 1rem;
}
